<script src="/scripts/navbar.js"></script>
<link rel="stylesheet" href="/styles/navbar.css"/>
<nav class="navbar navbar-expand-lg bg-transparent sticky-top p-2">
	<form method="POST" action="/api/weather" enctype="application/x-www-form-urlencoded" class="form-group container-fluid d-flex justify-content-end" id="cities-form">
		<input type="text" class="form-control w-auto bg-transparent-25 mr-2" placeholder="Search" list="cities-list" id="selected-city" name="selected-city">
		<datalist id="cities-list"></datalist>
	</form>
</nav>